#box{
    width:250px;
    height:50px;
    background-color: #8F44AD;
    border-radius: 10px;
}
#box1{
    width:250px;
    height:50px;
    background-color: #2A80B9;
    border-radius: 8px 30px;

}
#box2{
    width:250px;
    height:50px;
    background-color: #BF3A2B;
    border-radius: 40px 40px 40px 40px;
}
#box3{
    width:250px;
    height:50px;
    background-color: #2C3E50;
    border-radius: 30px 8px;
}
div{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    margin: 50px;
}
#div:focus {
    background-color: #82B627;
}
#div:hover{ background-color: #AAEE49;
}