
.imgh {
    width: 150px;
    height: 130px;
    border: 2px solid black;
    margin: 25px;
}

p,h1 {
    margin: 25px;
    text-align: justify;
    text-align: center;
}

#corpo {
    background-color: #fafafa;
}

.conteudo {
    background-color: #e0e0e0;
    margin-left: 10px;
    margin-right: 10px;
}

#rodape {
    color: white;
}
article {
    background-color: #7e57c2;
    margin: 10px;
    padding: 1em;
    text-align: center;
    font-size: 18px;
}
