.imgclass {
    margin-left: 28em;
    margin-right: 28em;
}
p {
    margin: 25px;
    font-size: 20px;
}
#rodape {
    text-align: center;
    margin-bottom: 0px;
    background-color: #7e57c2;
}
.rodape {
    color: #ffffff;
}

h1 {
    text-align: center;
}